<!--HOVER4-->
<div class="row row-cols-1 row-cols-md-2 g-2">
    <div class="col">
      <div class="card">
        <img src="img/S5.jpg" alt="..." style="height: 300px; width: 350px;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <form action="mailto:jnifer.564@gmail.com" method="post" enctype="text/plain">

            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Escribe tu nombre"/>
          
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" id="apellidos" placeholder="1r Apellido"/>
          
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email" required />
          
            <label for="asunto">Asunto</label>
            <input type ="text" name="asunto" id="asunto" placeholder="titular de la consulta"/>
          
            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" for="mensaje" placeholder="describe brevemente en menos de 300 carácteres" maxlength="300"></textarea>
            
            <input type="submit" name="enviar" value="enviar datos"/>
          </form>
      </div>
    </div>
    
  </div>
<!--HOVER4-->