#borderInput {
  border-radius: 10px;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-estado {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}
.form-registro-alumno {
  width: 100%;
  max-width: 80%;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.btn-color {
  background-color: rgb(255, 87, 34);
  border-radius: 10px;
  color: white;
}

.btn-color-registro {
  background-color: rgb(0, 168, 204);
  border-radius: 10px;
  color: white;
}
