/* General Variables */
/* General Styles */
body {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    background: #fff;
  }
  body section {
    display: block;
  }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body ul,
  body li {
    margin: 0;
    padding: 0;
  }
  body h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  body h2 {
    font-family: Montserrat, sans-serif;
    font-size: 1.875em;
    font-weight: 700;
    text-transform: uppercase;
  }
  body h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    font-weight: 400;
  }
  body h4 {
    font-family: Montserrat, sans-serif;
    font-size: 0.875em;
    font-weight: 400;
    text-transform: uppercase;
  }
  body p {
    line-height: 150%;
    font-family: Roboto, sans-serif;
    font-size: 0.9375em;
    color: #999;
  }
  body li {
    list-style-type: none;
  }
  body a {
    text-decoration: none;
  }
  .bg-wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  }
  .section-header {
    padding-top: 5.625em;
    text-align: center;
  }
  .section-header h3 {
    margin-bottom: 0.5em;
  }
  .section-header .line-red {
    margin: 2.5em auto 2.9375em auto;
  }
  .line-red {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 0 auto;
    background: #f38181;
  }
  /* Main Header Styles */
  .main-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background: transparent;
  }
  .main-header .header-wrapper {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding-top: 1em;
  }
  .main-header .header-wrapper .main-logo {
    float: left;
    font-weight: 700;
    font-size: 1.875em;
  }
  .main-header .header-wrapper .main-menu {
    float: right;
    text-align: center;
  }
  .main-header .header-wrapper .main-menu li {
    display: inline-block;
    padding: 0.75em 1.875em;
  }
  .main-header .header-wrapper .main-menu li a {
    padding-bottom: 0.75em;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
  }
  .main-header .header-wrapper .main-menu li a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid #fce38a;
    transition: .1s;
  }
  .main-header .header-wrapper .main-menu li a span {
    font-size: 1.2em;
  }
  .main-header .header-wrapper .main-menu li:last-child {
    padding: 0.75em 0;
  }
  .main-header .header-wrapper .main-menu li:nth-child(6) a:hover,
  .main-header .header-wrapper .main-menu li:last-child a:hover {
    border: none;
  }
  /* Section-1 Styles */
  #section-1 {
    height: 38em;
    color: #fff;
    background-color: #222;
  }
  #section-1 .content-slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #section-1 .content-slider input {
    display: none;
  }
  #section-1 .content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
  }
  #section-1 .content-slider .slider .banner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all .5s ease;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    height: 100%;
    padding-top: 6em;
    box-sizing: border-box;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    padding-bottom: 0.3em;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: none;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 6em;
    line-height: 95%;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    display: block;
    width: 4em;
    height: 0.1875em;
    margin: 2.5em auto;
    background: #fff;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
    padding: 0.5em 2em;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 0.875em;
    color: #fff;
    text-transform: uppercase;
    border: 0.1875em solid #fff;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
    color: #e88382;
    border-color: #e88382;
    transition: .3s;
  }
  #section-1 .content-slider .slider #top-banner-1 {
    background: url('../img/IMG_3129.jpg') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider .slider #top-banner-2 {
    background: url('../img/IMG_3135.jpg') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider .slider #top-banner-3 {
    background: url('../img/DSC1196.jpg') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider .slider #top-banner-4 {
    background: url('../img/IMG_3216.jpg') no-repeat center center;
    background-size: cover;
  }
  #section-1 .content-slider nav {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    z-index: 10;
    text-align: center;
  }
  #section-1 .content-slider nav .controls {
    display: block;
    width: 70%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    color: #fff;
  }
  #section-1 .content-slider nav .controls label {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 3.1em;
    overflow: hidden;
    margin: 0 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    color: #f6eac5;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
  }
  #section-1 .content-slider nav .controls label .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #f6eac5;
    z-index: 100;
  }
  #section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -100%;
    background: #e88382;
  }
  #section-1 .content-slider nav .controls label span {
    font-size: 1.4em;
    font-weight: 700;
  }
  #section-1 .content-slider nav .controls label:hover {
    color: #e88382;
  }
  #section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
  #section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
  #section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
  #section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
    opacity: 1;
    z-index: 1;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
    cursor: default;
    color: #fff;
    transition: all .5s;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
    background: #fff;
  }
  #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
  #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
  #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
  #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
    animation: progressBarFill 5s linear;
  }
  /* Animations */
  @keyframes progressBarFill {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0;
    }
  }
  /* Media Queries */
  @media only screen and (min-width: 1920px) {
    body {
      font-size: 22px;
    }
    .main-header .header-wrapper {
      width: 57%;
    }
    #section-1 {
      height: 46em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 12em;
    }
  }
  @media only screen and (max-width: 1919px) {
    body {
      font-size: 20px;
    }
    .main-header .header-wrapper {
      width: 60%;
    }
    #section-1 {
      height: 43em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 11em;
    }
  }
  @media only screen and (max-width: 1680px) {
    body {
      font-size: 18px;
    }
    .main-header .header-wrapper {
      width: 65%;
    }
    #section-1 {
      height: 40em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 9em;
    }
  }
  @media only screen and (max-width: 1366px) {
    body {
      font-size: 16px;
    }
    .main-header .header-wrapper {
      width: 70%;
    }
  }
  @media only screen and (max-width: 1120px) {
    .main-header .header-wrapper .main-menu li {
      padding: 0.75em 1.4em;
    }
    #section-1 {
      height: 35em;
    }
    #section-1 .content-slider nav {
      bottom: -0.2em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 7em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
      margin: 2em auto;
    }
  }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 14px;
    }
    .main-header .header-wrapper .main-menu li {
      padding: 0.75em 1.3em;
    }
    #section-1 .content-slider nav {
      bottom: 0;
    }
    #section-1 .content-slider nav .controls {
      width: 80%;
    }
  }
  @media only screen and (max-width: 860px) {
    .main-header .header-wrapper .main-menu li {
      padding: 0.75em 0.9em;
    }
    #section-1 {
      height: 29em;
    }
    #section-1 .content-slider nav {
      bottom: -1em;
    }
    #section-1 .content-slider nav .controls {
      width: 90%;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
      font-size: 2em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
      font-size: 4.5em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper {
      padding-top: 5em;
    }
  }
  @media only screen and (max-width: 768px) {
    .main-header .header-wrapper .main-menu li {
      padding: 0.75em 0.5em;
    }
    #section-1 {
      height: 27em;
    }
    #section-1 .content-slider nav .controls {
      width: 100%;
    }
    #section-1 .content-slider nav .controls label {
      width: 19%;
      font-size: 0.8em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
      margin: 1.7em auto;
    }
  }
  @media only screen and (max-width: 650px) {
    .main-header .header-wrapper {
      width: 95%;
    }
  }
  @media only screen and (max-width: 480px) {
    .main-header .header-wrapper {
      width: 97%;
    }
    .main-header .header-wrapper .main-logo {
      display: none;
    }
    .main-header .header-wrapper .main-menu li {
      padding: 0.2em 0.3em;
    }
    .main-header .header-wrapper .main-menu li:last-child,
    .main-header .header-wrapper .main-menu li:nth-child(6) {
      padding: 0.2em 0.7em;
    }
    #section-1 {
      height: 26em;
    }
    #section-1 .content-slider nav {
      bottom: -0.5em;
    }
    #section-1 .content-slider nav .controls label {
      width: 40%;
      font-size: 0.7em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
      font-size: 1.5em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
      font-size: 3em;
    }
    #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
      margin: 1.7em auto;
    }
  }
  /************************************************************************************/
  /*************************************Card**************************************************/
  .flip-card {
    background-color: transparent;
    perspective: 3000px;
    /* Genera un efecto 3D */
    height: 300px;
    /* Es necesario una altura para que aparezca en la página */
    border: 0px;
    /*Elimina el borde predeterminado que tienen las tajetas en Bootstrap */
  }
  
  /* Este contenedor nos posiciona los dos lados de la tarjeta */
  .flip-card-inner {
    position: relative;
    /* dejamos que la grid de bootstrap posicione la tarjeta */
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    /* duracion de la animacion */
    transform-style: preserve-3d;
  }
  
  /* Crea la animación para girar la tarjeta de forma horizontal cuando el ratón se pone encima*/
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Estructura básica de las dos caras */
  .flip-card-front, .flip-card-back {
    position: absolute;
    /* necesario para posicionar las dos caras a la misma altura */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* nos genera una sombra */
    box-shadow: 10px 10px 28px -5px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
  }
  
  /* Estructura específica de la cara frontal */
  
  
  .flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  .flip-card-front .mask {
    position: absolute;
    /* hacemos que ocupe toda la imagen */
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* color de la mascara */
    
    /* redondeamos la mascara para que se ajuste a la imagen */
    border-radius: 0.5rem;
    /* Posición del título en la parte frontal de la tarjeta */
  }
  .flip-card-front .mask .align-end {
    position: absolute;
    top: 85%;
    left: 20px;
    color: #fafafa;
    font-size: 1.5em;
  }
  /* Estructura específica de la cara trasera */
  .flip-card-back {
     background-image: linear-gradient(225deg, #e0d658 0, #cdd654 10%, #b9d550 20%, #a2d34e 30%, #88d04e 40%, #6acc50 50%, #42c854 60%, #00c45b 70%, #00c064 80%, #00bd6f 90%, #00b97b 100%);;
    transform: rotateY(180deg);
  
    /* Ajusta la altura del texto al centro de la tarjeta */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  
  /***************************************CarddeEquipo**********************************************/
  .container {
    position: relative;
    background-image: linear-gradient(225deg, #e0d658 0, #cdd654 10%, #b9d550 20%, #a2d34e 30%, #88d04e 40%, #6acc50 50%, #42c854 60%, #00c45b 70%, #00c064 80%, #00bd6f 90%, #00b97b 100%);
    width: 220px;
    height: 220px;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: width 0.4s, height 0.4s,
        border-radius 0.4s;
}

.container:hover {
    width: 340px;
    height: 440px;
    border-radius: 4px;
}

.img-container {
    width: 170px;
    height: 170px;
    min-height: 170px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
}

.img-container img {
    width: 100%;
    max-width: 100%;
}

.full-name {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.role,
.description {
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 20px;
    text-align: center;
}

.role {
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 2px solid #ffbe44;
}

.social-container {
    position: absolute;
    top: 40px;
    left: -40px;
    display: flex;
    flex-direction: column;
}

.social-container button {
    border: none;
    outline: none;
    color: #eee;
    background: none;
    width: 20px;
    height: 40px;
    font-size: 1.7em;
    margin-bottom: 16px;
    cursor: pointer;
    transition: transform 0.4s;
}

.container:hover .social-container button {
    transform: translateX(60px);
    transition-delay: 0.3s;
}

.container:hover .social-container button:nth-child(2) {
    transition-delay: 0.5s;
}

.container:hover .social-container button:nth-child(3) {
    transition-delay: 0.7s;
}











/*****************************************************************************************************/

.cicle{
  width:200px;
    height:200px;
    border-radius:150px;
    border:10px solid rgb(223, 155, 9);
}
/*********************************************************************************************************/


/************************************************************************************/
  /*footer*/
  i {
    color: #fff;
    font-size: 20px;
    float: left;
    margin-top: 5px;
    }
    
    
    
    
    .footer-content {
    position: relative;
    z-index: 2;
    }
    
    /*****************/
    
    .borde{
      border: rgb(226, 73, 73);
    }
    
/****************************************************************************************/    
/*liena*/
.lineaa{
  height: 3px;
  width: 40%;
  background-color:#b88635;
}
/********************************************************************************/
/***/
h2 {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  color: #F39C12;
  font-size: 20px;
}
h2.linea {
  position: relative;
  z-index: 1;
}
h2.linea:before {
  border-top: 4px solid #F39C12;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.linea span {

  background: #fff;
  padding: 0 15px;
}

/*************************************FloarDelaBorbuja*******************************************************/
/*********whatsapp************/


#hashLink {
	display: none;
}
#hashLink:target {
	display: block;
}
.float-nav {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999;
}
.float-nav:hover {
cursor:pointer;
}
.float-nav-2 {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.float-nav-2:hover {
cursor:pointer;
}
.main-nav-2 {
  font-family: sans-serif;
  position: absolute;
  bottom: 7px;
  right: 0px;
  width: 120px;
  margin-bottom:40px;
}
.main-nav-2.active {
  display: block;
  opacity: 1;
}
.main-nav-2 > ul {
  width: 100%;
  display: block;
  list-style: none;
	z-index:10;
}
.main-nav-2 > ul > li {
    display: flex;
    justify-content: space-between;
}
.main-nav-2 > ul > li > a {
  text-decoration: none;
  display: block;
  font-weight: 200;
  padding: 18px 80px 18px 18px;
  color: black;
}
.main-nav-2 > ul > li > a:hover {
  font-weight: 400;
}
/****************************************************************************************/


/* FORMULARIO =================================== */

.form_wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../fondo.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"]{
    width: 180px;
	background: #eccc40;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;


}
/**************************************5 card***********************************************************/
.contenedor{
  background-color: white;
  width: 80%;
 
  padding: 1rem;
  margin: 6rem;
  border-radius: 10px;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
}
@media screen and (min-width:768px){
  .contenedor{
      flex-direction: row;
  }
}
.item{
  position: relative;
  font-family: sans-serif;
  padding: 1rem;
  padding-bottom: 4rem;
  cursor: pointer;
  width: 30%;
  flex: 1 1 30%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
}
.item:hover{
  background-color:  rgb(0, 0, 0, 0.1);
}
.avatar{
  height: 60px;
  display: block;
  margin: 0 auto;
}
.titulo, .descripcion{
  text-align: center;

}
.titulo{
  margin: 1rem 0;
  font-size: 0.85rem;
}
.precio{
  position: absolute;
  content: "";
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.numero{
  font-size: 28px;
  font-weight: 650;
  position: relative;
}
.letra{
  color: cornflowerblue;
}
.descripcion{
  font-size: 0.9rem;
  color: gray;
}
/***********************************CardResponsibe************************************************************************/
.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #fff;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}



.card .back {
  transform: rotateY( 180deg);
}




.cardBox:nth-child(1) .card .back {
  background: rgba(238, 240, 121, 0.562);
}

.cardBox:nth-child(2) .card .back {
  background: rgba(238, 240, 121, 0.562);
}

.cardBox:nth-child(3) .card .back {
  background: rgba(238, 240, 121, 0.562);
}

.cardBox:nth-child(4) .card .back {
  background: rgba(238, 240, 121, 0.562);
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}


@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}



/*************************************tabs*23/05/2021*******************************************/


#container {
  margin: 0 auto;
  width: 70%;  /* Ancho del contenedor */
}

#container input {
height: 2.8em;
visibility: hidden;
}

#container label {
background: #fff;  /* Fondo de las pestañas */
border-radius: .25em .25em 0 0;
color: rgb(69, 179, 65);  /* Color del texto de las pestañas */
cursor: pointer;
display: block;
float: left;
font-size: 1em;  /* Tamaño del texto de las pestañas */
height: 3em;
line-height: 2.3em;
margin-right: .25em;
padding: 0 1.5em;
text-align: center;
}

#container input:hover + label {
background: #fff;  /* Fondo de las pestañas al pasar el cursor por encima */
color: rgba(60, 102, 11, 0.726);  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#container input:checked + label {
background: #fff;  /* Fondo de las pestañas al presionar */
color: rgb(69, 179, 65); /* Color de las pestañas al presionar */
position: relative;
z-index: 6;
/*
-webkit-transition: .1s;
-moz-transition: .1s;
-o-transition: .1s;
-ms-transition: .1s;
*/
}

#content {
background: #fff;  /* Fondo del contenido */
border-radius: 0 .25em .25em .25em;
min-height: 20em;  /* Alto del contenido */
position: relative;
width: 100%;
z-index: 5;
}

#content div {
opacity: 0;
padding: 1.5em;
position: absolute;
z-index: -100;
/*
transition: all linear 0.1s;
*/
}

#content-1 p {
clear: both;
margin-bottom: 1em;
}
#content-1 p.lef img {
float: left;
margin-right: 1em;
}
#content-1 p.last {
margin-bottom: 0;
}

#content-2 p {
float: left;
width: 48.5%;
}
#content-2 p.column-right {
margin-left: 3%;
}
#content-2 p img {
display: block;
margin: 0 auto 1em auto;
}
#content-3 p,
#content-3 ul {
margin-bottom: 1em;
}
#content-3 ul {
margin-left: 2em;
}

#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
  opacity: 1;
  z-index: 100;
}

input.visible {
visibility: visible !important;
}


/************************************/


form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}