#bodyIndex{
    background-color: rgb(10,22,108);
  }
  label{
    color: white;
  }
  p{
    color: white;
  }
  #borderInput{
    border-radius: 10px;
  }
  #formBoton{
    margin-top: 2%;
    padding: 10px;
    margin: 0 auto; 
  }

  #btn{
    background-color: rgb(255,87,34);
    border-radius: 10px;
    
  }

  #formularioAlumno{
      background-color: rgb(29,38,113);
      padding: 10px; 
      border-radius: 10px;
      margin: 0 auto;
      width: 100%;
      
  }
  #formularioLogo{
      text-align: center;
  }

  #formProx{
    text-align: justify;
    margin-top: 8%;
}
